<div class="card">
    <div class="card-body">
            <form id="globalSettingForm" class="form-horizontal" action="/winga/web/global/setting" method="post">
                    <input id="id" name="id" type="hidden" value="1" disabled="">
                    <div class="row">
                      <div class="col-sm-6 col-xs-12">
                        <fieldset>
                         <legend>Game Session:</legend>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Contents Each Game<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="noOfContentsEachGame" name="noOfContentsEachGame" onkeypress="return isNumber(event)" placeholder="Enter No Of Contents Each Game" type="text" class="form-control" value="1" maxlength="2" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Questions Each Content<span style="color:red;">*</span>:</label>
                              <div class="col-sm-5">
                                 <input id="noOfQuestionsEachContent" name="noOfQuestionsEachContent" onkeypress="return isNumber(event)" old-value="noOfQuestionsEachContent" placeholder="No Of Questions Each Content" type="text" class="form-control" value="3" maxlength="2" disabled="">
                                 
                              </div>
                              <div class="col-sm-5 messages"></div>
                          </div> 
                          <div class="form-group row">
                              <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Options Each Question<span style="color:red;">*</span>:</label>
                              <div class="col-sm-5">
                                <input id="noOfOptionsEachQuestion" name="noOfOptionsEachQuestion" onkeypress="return isNumber(event)" placeholder="Enter No Of Options Each Question" type="text" class="form-control" value="3" maxlength="2" disabled="">
                                
                              </div>
                              <div class="col-sm-5 messages"></div>
                          </div>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Points For Each Game Win (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="pointsForEachGameWin" name="pointsForEachGameWin" onkeyup="allowDecimal(this)" placeholder="Enter Points For Each Game Win" type="text" class="form-control" value="10.0" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Points For Each Game Lost (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="pointsForEachGameLost" name="pointsForEachGameLost" onkeyup="allowDecimal(this)" placeholder="Enter Points For Each Game Lost" type="text" class="form-control" value="5.0" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Game Win For Eligibility<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="noOfGameWinForEligibility" name="noOfGameWinForEligibility" onkeypress="return isNumber(event)" placeholder="Enter No Of Game Win For Eligibility" type="text" class="form-control" value="3" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Revenue Percentage As Prize (₹)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="revenuePercentageAsPrize" name="revenuePercentageAsPrize" onkeyup="allowDecimal(this)" placeholder="Enter Revenue Percentage As Prize" type="text" class="form-control" value="20.0" maxlength="20" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Winners Block Time (Days)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                               <input id="winnersBlockTime" name="winnersBlockTime" onkeypress="return isNumber(event)" placeholder="Enter Winners Block Time" type="text" class="form-control" value="0" maxlength="7" disabled="">
                               
                              </div>
                            <div class="col-sm-5 messages"></div>
                         </div>
                         <!--  <div class="form-group row">
                             <label class="offset-xs-4 offset-sm-4  offset-md-4 col-form-label" style="text-align:right;"><span style="color:red;">This Category Is Start From Next Session.</span></label>
                         </div> -->
                         <div class="alert alert-warning block_auto" role="alert" style="margin-bottom: 0; margin-top: 16px">
                             <strong>Warning!</strong> Changes of this section will take effect from next session.
                         </div>
                        </fieldset> 
                        <fieldset>
                          <legend>Minimum Redemption Points:</legend> 
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Minimum Redemption Points<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="minimumRedemptionPoint" name="minimumRedemptionPoint" onkeyup="allowDecimal(this)" placeholder="Enter Minimum Redemption Points" type="text" class="form-control" value="8000.0" maxlength="9" disabled="">
                                

                             </div>
                             <div class="row col-sm-5 messages"></div>
                          </div>
                        </fieldset>
                       <fieldset>
                          <legend>Referral:</legend> 
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Referral Loyalty Type (1. Amount 2. Points)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="bonusReferralLoyaltyType" name="bonusReferralLoyaltyType" onkeypress="return isNumber(event)" placeholder="Enter Referral Loyalty Type" type="text" class="form-control" value="2" maxlength="1" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Referral Amount (₹)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="bonusReferralAmt" name="bonusReferralAmt" onkeyup="allowDecimal(this)" placeholder="Enter Referral Amount" type="text" class="form-control" value="0.0" maxlength="9" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Referral Points<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="bonusReferralPoints" name="bonusReferralPoints" onkeypress="return isNumber(event)" placeholder="Enter Referral Points" type="text" class="form-control" value="1000" maxlength="9" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                        </fieldset> 
                        <fieldset>
                          <legend>Paytm:</legend>   
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Txn Fee (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="paytmTxnFee" name="paytmTxnFee" onkeyup="allowDecimal(this)" placeholder="Paytm txn fee" type="text" class="form-control" value="2.0" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">GST (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="paytmGst" name="paytmGst" onkeyup="allowDecimal(this)" placeholder="GST" type="text" class="form-control" value="18.0" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <legend>Xoxoday:</legend>   
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Txn Fee (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="xoxoboxTxnFee" name="xoxoboxTxnFee" onkeyup="allowDecimal(this)" placeholder="Xoxoday txn fee" type="text" class="form-control" value="0.01" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">GST (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="xoxoboxGst" name="xoxoboxGst" onkeyup="allowDecimal(this)" placeholder="GST" type="text" class="form-control" value="0.01" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                        </fieldset>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                     <fieldset>
                         <legend>Game Play:</legend>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Max Default No Of Games Per User<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="defaultNoofGamesPerUser" name="defaultNoofGamesPerUser" onkeypress="return isNumber(event)" placeholder="Max Default No Of Games Per User" type="text" class="form-control" value="3" maxlength="2" disabled="">
                                <small class="text-muted">Not Applicable if Spin &amp; Win Enabled</small>
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-7  col-form-label" style="text-align:right;">Enable Spin &amp; Win<span style="color:red;">*</span>:</label>
                              <div class="col-sm-5 form-check">
                                 <input id="spinAndWin1" name="spinAndWin" style="margin-top: 10px;" old-value="spinAndWin" type="checkbox" value="true" checked="checked" disabled=""><input type="hidden" name="_spinAndWin" value="on" disabled="">
                                 
                              </div>
                              <div class="col-sm-5 messages"></div>
                          </div> 
                          <div class="form-group row">
                              <label class="col-sm-7  col-form-label" style="text-align:right;">Spin &amp; Win Max Value<span style="color:red;">*</span>:</label>
                              <div class="col-sm-5">
                                <input id="spinAndWinMaxVal" name="spinAndWinMaxVal" onkeypress="return isNumber(event)" placeholder="Spin &amp;amp; Win Max Value" type="text" class="form-control" value="3" maxlength="2" disabled="">
                                
                              </div>
                              <div class="col-sm-5 messages"></div>
                          </div>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Spin &amp; Win Min Value<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="spinAndWinMinVal" name="spinAndWinMinVal" onkeypress="return isNumber(event)" placeholder="Spin &amp;amp; Win Min Value" type="text" class="form-control" value="1" maxlength="2" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                         <div class="alert alert-warning block_auto" role="alert" style="margin-bottom: 0; margin-top: 16px">
                             <strong>Warning!</strong> Changes of this section may take 30 seconds to take effect.
                         </div>
                      </fieldset> 
                      <fieldset>
                          <legend>First Game:</legend>
                          <div class="form-group row">
                              <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Content For First Game <span style="color:red;">*</span>:</label>
                              <div class="col-sm-5">
                                <input id="firstGameNoOfContent" name="firstGameNoOfContent" onkeypress="return isNumber(event)" placeholder="Enter No Of Content For First Game" type="text" class="form-control" value="1" maxlength="2" disabled="">
                                
                              </div>
                              <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Questions Each Content For First Game<span style="color:red;">*</span>:</label>
                              <div class="col-sm-5">
                                <input id="firstGameNoOfQuestionsEachContent" name="firstGameNoOfQuestionsEachContent" onkeypress="return isNumber(event)" placeholder="Enter No Of Questions Each Content For First Game" type="text" class="form-control" value="1" maxlength="2" disabled="">
                                
                              </div>
                              <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">No Of Options Each Question For First Game<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="firstGameNoOfOptionsEachQuestion" name="firstGameNoOfOptionsEachQuestion" onkeypress="return isNumber(event)" placeholder="Enter No Of Options Each Question For First Game" type="text" class="form-control" value="2" maxlength="2" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">First Game Loyalty Type (1. Amount 2. Points)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="firstGameLoyaltyType" name="firstGameLoyaltyType" onkeypress="return isNumber(event)" placeholder="Enter First Game Loyalty Type" type="text" class="form-control" value="2" maxlength="1" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">First Game Win Amt (₹)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="firstGameWinAmt" name="firstGameWinAmt" onkeyup="allowDecimal(this)" placeholder="Enter First Game Win Amt" type="text" class="form-control" value="0.0" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">First Game Lost Amt (₹)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="firstGameLostAmt" name="firstGameLostAmt" onkeyup="allowDecimal(this)" placeholder="Enter First Game Lost Amt" type="text" class="form-control" value="0.0" maxlength="200" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">First Game Win Points<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="firstGameWinPoints" name="firstGameWinPoints" onkeypress="return isNumber(event)" placeholder="Enter First Game Win Points" type="text" class="form-control" value="250" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">First Game Lost Points<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="firstGameLostPoints" name="firstGameLostPoints" onkeypress="return isNumber(event)" placeholder="Enter First Game Lost Points" type="text" class="form-control" value="250" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                         </fieldset>
                         <fieldset>
                          <legend>Campaign Expiry Notify:</legend> 
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Notify Before (Minutes)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="campaingExpiryNotifyBefore" name="campaingExpiryNotifyBefore" onkeypress="return isNumber(event)" placeholder="Enter Campaign Expiry Notify Before" type="text" class="form-control" value="7200" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Views Left (%)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="campaingViewsNotifyBefore" name="campaingViewsNotifyBefore" onkeypress="return isNumber(event)" placeholder="Enter Campaign Views Notify Before" type="text" class="form-control" value="10" maxlength="3" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                           </div>
                    
                          
                       </fieldset>
                        <fieldset>
                          <legend>Other:</legend>   
                           <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Rupees For Each Point (₹)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="rupesForEachPoint" name="rupesForEachPoint" onkeyup="allowDecimal(this)" placeholder="Enter Rupees For Each Point" type="text" class="form-control" value="0.002" maxlength="7" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">View Count Rate (Seconds)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="viewCountRate" name="viewCountRate" onkeyup="allowDecimal(this)" placeholder="Enter View Count Rate" type="text" class="form-control" value="3.0" maxlength="200" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Installation Revenue Amt (₹)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="installationRevenueAmt" name="installationRevenueAmt" onkeyup="allowDecimal(this)" placeholder="Enter Installation Revenue Amt" type="text" class="form-control" value="350.0" maxlength="200" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Time Taken To Answer Max (Milli Seconds)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="timeTakenToAnswerMax" name="timeTakenToAnswerMax" onkeypress="return isNumber(event)" placeholder="Enter Time Taken To Answer Max" type="text" class="form-control" value="180000" maxlength="10" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages"></div>
                          </div>
                          <div class="form-group row">
                             <label class="col-sm-7  col-form-label" style="text-align:right;">Image Content Default Duration (Milli Seconds)<span style="color:red;">*</span>:</label>
                             <div class="col-sm-5">
                                <input id="imageDefaultDuration" name="imageDefaultDuration" onkeypress="return isNumber(event)" placeholder="Enter Content Default Duration" type="text" class="form-control" value="20000" maxlength="8" disabled="">
                                
                             </div>
                             <div class="col-sm-5 messages messages1"></div>
                          </div>
                        </fieldset>
                     </div>
                   </div>
                   <div class="form-group row" style="float: right;">
                       <div class="col-12">
                           
                             <!-- <button type="submit" class="btn btnCls">Save</button> -->
                             
                              
                                <a class="btn btn-primary" style="color:white;" href="/winga/web/global/setting?mode=Edit">Edit</a>
                              
                             
                             <button type="button" class="btn btn-danger" onclick="window.history.back()">Cancel</button>
                           
                      </div>
                   </div>
            <div>
<input type="hidden" name="_csrf" value="39bd3fa0-f8be-4047-af3d-b5f2cbb292a1" disabled="">
</div></form>
    </div>
</div>