<div class="row">
  <div class="col-lg-4">
    <div class="col-lg-12 m-2 w-boxshadow w-bg-w">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-12 m-2 w-boxshadow w-bg-w">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-12 m-2 w-boxshadow w-bg-w">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>