
.app-main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .sidenav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.winga-footer {
  bottom: 0;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  box-shadow: 8px 0 5px -3px #dcd9d9;
}

mat-expansion-panel[disabled] {
  p {
    margin: auto 0;
  }
  a {
    text-decoration: none;
  }

}
mat-expansion-panel {
  a {
    text-decoration: none;
  }
}

.router-outlet-container {
  background-color: #e2e2e2;
  height: calc( 100% - 64px);
}