<div class="app-main-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Winga</h1>
      <div style="position: fixed; right: 0;">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>User Name</span>
          </button>
          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
  
      </div>
    </mat-toolbar>
    
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                   <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Winga Charts
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p> <a routerLink="/charts"> Charts </a></p>
                      </mat-expansion-panel>

                    <mat-divider></mat-divider>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Reports
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><a routerLink="/table">AG Grid</a></p>
                      </mat-expansion-panel>

                      <mat-divider></mat-divider>
                      <mat-expansion-panel hideToggle disabled>
                        <mat-expansion-panel-header>
                          <p><a routerLink="/dashboard">Dashboard</a></p>
                        </mat-expansion-panel-header>
                       </mat-expansion-panel>

                       <mat-divider></mat-divider>
                      <mat-expansion-panel hideToggle disabled>
                        <mat-expansion-panel-header>
                          <p><a routerLink="/global-settings">Global Settings</a></p>
                        </mat-expansion-panel-header>
                       </mat-expansion-panel>
                    </mat-accordion>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <mat-toolbar class="sidenav-toolbar">
          <span>{{appStore.currentView}}</span>
        </mat-toolbar>
        <div class="p-3 router-outlet-container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar class="sidenav-toolbar winga-footer">
      <h4 class="app-name">Footer</h4>
    </mat-toolbar>
  </div>
  