<div class="w-bg-w">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Global Setting">
            <ng-template matTabContent>
                <winga-global-setting></winga-global-setting>
            </ng-template>
        </mat-tab>
        <mat-tab label="Game Session Scheduler">
            <ng-template matTabContent>
                <winga-game-session-scheduler></winga-game-session-scheduler>
            </ng-template>
        </mat-tab>
        <mat-tab label="Footer Advertisement">
            <ng-template matTabContent>
                <winga-footer-advertisement></winga-footer-advertisement>
            </ng-template>
        </mat-tab>
        <mat-tab label="Team Email">
            <ng-template matTabContent>
                <winga-team-email></winga-team-email>
            </ng-template>
        </mat-tab>
        <mat-tab label="Home Page Advertisement">
            <ng-template matTabContent>
                <winga-home-page-advertisement></winga-home-page-advertisement>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>