<div class="container-fluid animated fadeIn p-0" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
                <div class="card-body ef-brand-card-1">
                    <div><h2>Users</h2></div>
                    <div data-toggle="tooltip" title="0" class="text-value"><h2>0</h2></div>
                </div>
                <div class="brand-card-body">
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Active</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Inactive</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div title="De-activated &amp; Blocked" class="text-uppercase text-muted small">D&amp;B</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
                <div class="card-body ef-brand-card-2">
                    <div><h2>Clients</h2></div>
                    <div data-toggle="tooltip" title="0" class="text-value"><h2>0</h2></div>
                    
                </div>
                <div class="brand-card-body">
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Active</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Inactive</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Deleted</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
                <div class="card-body ef-brand-card-5">
                    <div><h2>Campaigns</h2></div>
                    <div data-toggle="tooltip" title="0" class="text-value"><h2>0</h2></div>
                </div>
                <div class="brand-card-body">
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Active</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Inactive</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">In Queue</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
                <div class="card-body ef-brand-card-6">
                    <div><h2>Contents</h2></div>
                    <div data-toggle="tooltip" title="0" class="text-value"><h2>0</h2></div>
                </div>
                <div class="brand-card-body">
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Published</div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" title="0" class="text-value">0</div>
                        <div class="text-uppercase text-muted small">Unpublished</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>