.brand-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
}

.ef-brand-card-1 {
    color: #fff;
    background-color: #20a8d8;
}
.ef-brand-card-2 {
    color: #fff;
    background-color: #7092be;
}
.ef-brand-card-5 {
    color: #fff;
    background-color: #3b5998;
}
.ef-brand-card-6 {
    color: #fff;
    background-color: #4dbd74;
}
.card-body {
    display: -ms-flexbox;
    display: flex;
    padding: 1.25rem;
    div {
        flex: 1;
    }
}
.brand-card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0.75rem 0;
    text-align: center;
}

.brand-card-body > *:not(:last-child) {
    border-right: 1px solid #c8ced3;
}

.brand-card-body > * {
    -ms-flex: 1;
    flex: 1;
    padding: 0.1875rem 0;
}