@import "~bootstrap/scss/bootstrap";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";


.w-boxshadow {
    box-shadow: 0px 0px 10px #a9a6a6;
}

.w-bg-w {
    background-color: #fff;
}